{% extends 'panel/base.html' %}

{% block title %}capters| {% endblock %}

{% block content %}
<div id="main-content" class="w-full flex-1">
    <div class="p-10 lg:p-20 text-center">
        <h1 class="text-3xl lg:text-6xl text-white">{{sparcel.name}}</h1>
    </div>
    
    <div class="p-10 bg-white w-30 lg:p-20 text-center" >
        <h1 class="text-3xl lg:text-6xl text-black">{{sparcel.name}}</h1>
    </div>
   
    <div class=" text-center" id="Graph">
        <h6 class="text-white">{{sparcel.name}}</h6>
    </div>
    <div class=" text-center" id="Graph">
        <h6 class="text-white" id="value"></h6>
        <h6 class="text-white" id="capterName"></h6>

    </div>
    {%for capter in capters%}

    <div class="w-1/2 lg:w-full"  id="{{capter.id}}">
        <div class="border-2 border-gray-400 border-dashed hover:border-transparent hover:bg-white hover:shadow-xl rounded p-6 m-2 md:mx-10 md:my-6">
            <div class="flex flex-col items-center">
                <div class="flex-shrink pr-4">
                    <div class="rounded-full p-3 bg-gray-300"><i class="fas fa-server fa-fw fa-inverse text-indigo-500"></i></div>
                </div>
               
                <div class="flex-1" >
                    <h3 class="font-bold text-3xl">{{capter.name}}</h3>
                    <h5 class="font-bold text-gray-500">{{capter.details}}</h5>
                  <a onclick="run_capter({{capter.id}},{{sparcel.id}})" class="rounded-full p-3 bg-gray-300">RUN</a>
                </div>
            </div>
        </div>
    </div>



{% endfor %}
    
</div>
{{sparcel.id|json_script:"sparcel_id"}}

{% endblock %}
{%block scripts %}
<script>
    {% comment %} const sparcel_id = JSON.parse(document.getElementById("sparcel_id").textContent);
    const sparcelsocket = new WebSocket(
    'ws://'
    + window.location.host
    +'/ws/'
    + sparcel_id
    +'/'
    );
    sparcelsocket.onmessage = function(e){
        console.log(e.data);
        const data = JSON.parse(e.data);
        if(data.value){
            document.getElementById("value").innerHTML= data.value;
            document.getElementById("capterName").innerHTML= data.capterid;
        }else{
            console.log('there is no value');
        }
    } {% endcomment %}
  
    {% comment %} var capters = document.querySelectorAll("#capter");
    for(var i=0; i<capters.length; i++){
        capters[i].addEventListener('click',(event)=>{
            console.log('click');
            while(true){ 
                 setTimeout(()=>{
                var id = event.target.dataset.capterid;
                console.log(id);
                var value =Math.floor(Math.random() * 11);
                sparcelsocket.send(JSON.stringify({
                'id': id,
                'value': value,
                'sparcel': sparcel_id,
                }))
                console.log('SENT');
    
           
           },7000) };
          
        })
    } {% endcomment %}
</script> 
<script>
    function send_capterId(capterid,sparcelid){
          
            const data = {
            capterid: capterid,
            sparcelid: sparcelid,
          csrfmiddlewaretoken:'{{ csrf_token }}',
          action: "POST",
             };
        // Make a POST request to the Django view
            fetch('{% url 'sous_parcel:runcapter' %}', {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                // Handle the response
            })
            .catch(error => {
                // Handle the error
            });
        
      };
    
      function run_capter(capterid,sparcelid){
        send_capterId(capterid,sparcelid);
      };

</script> 
{% endblock %}