{% extends 'panel/base.html' %}

{% block title %}newsparcel| {% endblock %}

{% block content %}


<div class="container">
    <div class="row ">
      <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
        <div class="card z-index-0">
       
          <div class="card-body">
                <form method="post" action="." role="form text-left">
                    {% csrf_token %}
                <div class="mb-3">
                    <input type="text" name="name" class="form-control" placeholder="Name" aria-label="Name" >
                </div>
                <div class="mb-3">
                    <input type="details" name="details" class="form-control" placeholder="details" aria-label="details" >
                </div>
                <div class="mb-3">
                    <select id="disabledSelect" class="form-select">
                        {% for parcel in form.parcel %}
                        <option> {{parcel}} </option>
                        {% endfor %}
                    </select>
                    </div>
                    
                <div class="text-center">
                    <button type="submit" Name="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">submit</button>
                </div>
                {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %} 
                        <div class="mb-5 p-4 rounded-xl bg-red-300 text-white">
                            <p>{{ error|escape }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        
                </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}