{% extends 'core/base.html' %}
{% load static %}
{% block title %}Welcome | {% endblock %}

{% block content %}

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="bd-placeholder-img" style="height:100vh !important;width:100% !important;filter: blur(5px);" src=" {% static 'img/curved-images/curved22.png' %} " role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"/>

        <div class="container">
          <div class="carousel-caption text-start">
            <h1 class="text-white">Amélioration de l'efficacité </h1>
            <p>L'IoT permet d'optimiser les pratiques agricoles en fournissant des données en temps réel sur les conditions environnementales, les besoins des cultures, etc.</p>
            <p><a class="btn btn-lg btn-success" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="bd-placeholder-img" style="height:100vh !important;width:100% !important;filter: blur(5px);" src=" {% static 'img/curved-images/curved26.png' %} " role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"/>

        <div class="container">
          <div class="carousel-caption">
            <h1 class="text-white">maximiser les rendements</h1>
            <p> permet aux agriculteurs de prendre des décisions éclairées et d'ajuster leurs stratégies pour maximiser les rendements tout en économisant les ressources telles que l'eau, les fertilisants et les pesticides</p>
            <p><a class="btn btn-lg btn-success" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="bd-placeholder-img" style="height:100vh !important;width:100% !important;filter: blur(5px);" src=" {% static 'img/curved-images/curved22.png' %} " role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"/>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1 class="text-white">Réduction des coûts</h1>
            <p>Grâce à l'IoT, les agriculteurs peuvent utiliser les ressources de manière plus efficace,</p>
            <p><a class="btn btn-lg btn-success" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing ">

 

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Amélioration de l'efficacité<span class="text-muted"></span></h2>
        <p class="lead">L'IoT permet d'optimiser les pratiques agricoles en fournissant des données en temps réel sur les conditions environnementales, les besoins des cultures, etc. Cela permet aux agriculteurs de prendre des décisions éclairées et d'ajuster leurs stratégies pour maximiser les rendements tout en économisant les ressources telles que l'eau, les fertilisants et les pesticides</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"  style="max-height:500px !important;" src=" {% static 'img/curved-images/curved25.jpg' %} " role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"/>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Réduction des coûts : <span class="text-muted">Grâce à l'IoT.</span></h2>
        <p class="lead"> Grâce à l'IoT, les agriculteurs peuvent utiliser les ressources de manière plus efficace, ce qui se traduit par une réduction des coûts de production. Par exemple, en surveillant les niveaux d'humidité du sol, les agriculteurs peuvent éviter la sur-irrigation, ce qui permet d'économiser de l'eau et de réduire les factures d'eau. De même, en détectant les signes précoces de maladies des plantes, ils peuvent prendre des mesures rapides pour minimiser les pertes de récolte et les dépenses associées.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"  style="max-height:500px !important;" src=" {% static 'img/curved-images/curved22.png' %} " role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"/>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Durabilité environnementale :  <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">L'IoT favorise une agriculture plus durable en réduisant la consommation de ressources et l'impact sur l'environnement. En surveillant et en contrôlant précisément l'irrigation, les agriculteurs peuvent éviter le gaspillage d'eau, qui est une ressource précieuse. De plus, en détectant les problèmes de santé des plantes de manière précoce, ils peuvent minimiser l'utilisation de pesticides et favoriser des pratiques agricoles plus respectueuses de l'environnement.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"  style="max-height:500px !important;" src=" {% static 'img/curved-images/curved26.png' %} " role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"/>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


{% endblock %}