{% extends 'panel/base.html' %} 
{% load static %}


{% block title %}Welcome | {% endblock %}
{% block activelnk1 %}active{% endblock activelnk1 %}
{% block paneltitle %}ACCUEIL{% endblock paneltitle %}
{% block content %}

<div class="border-radius-xl mt-3 mx-3 position-relative" style="background-image: url('{% static 'img/vr-bg.jpg'%}') ; background-size: cover;">

  <main class="main-content mt-1 border-radius-lg">
    <div class="section min-vh-85 position-relative transform-scale-0 transform-scale-md-7">
      <div class="container">
        <div class="row p-0">
          <div class=" col-12 row">
            <div class="col-4">
              <img class="w-25 float-end " src="{% static 'img/small-logos/placeholder.png'%}" alt="image sun">
            
            </div>
            <div class="col ">
              <h2 class="  text-white" id="city">Oran </h2>
              <h5 class="  text-white" id="date">20  </h5>

            </div>
            
          </div>
          
        <div class="row pt-6 ">
        
          <div class="col-lg-8 col-md-11">
            <div class="row p-0">
              <div class=" col-6 row">
                <div class="col ">
                  <img class="w-50 float-end " src="{% static 'img/small-logos/icon-sun-cloud.png'%}" alt="image sun">
                </div>
                <div class="col ">
                  <h3 class="  text-white" id="temp">20 C </h3>
                  <h6 class="text-uppercase mb-0 ms-1 text-white">Cloudy</h6>
                </div>
                
              </div>
              <div class=" col-6 row ">
                <div class="col ">
                  <img class="w-50 float-end mt-lg-n4" src="{% static 'img/small-logos/wind-socket.png'%}" alt="image sun">
                </div>
                <div class="col ">
                  <h3 class="  text-white" id="windspd">20  </h3>
                </div>
                
              </div>

            </div>
            <div class="row mt-4"id="bod">
            </div>
          </div>
          <div class="col mt-4 pt-md-10 pt-lg-10 mb-4 mt-sm-0">
            <div class="card bg-gradient-dark move-on-hover">
              <div class="card-body">
                <div class="d-flex">
                  <h5 class="mb-0 text-white">les parcels </h5>
                  <div class="ms-auto">
                    <h1 class="text-white text-end mb-0 mt-n2">{{parcels|length}}</h1>
                    <p class="text-sm mb-0 text-white">parcel</p>
                  </div>
                </div>
                {% for parcel in parcels %}
                <p class="text-white mb-0"> {{parcel.name}} </p>
                {% endfor %}
              </div>
              <a href="javascript:;" class="w-100 text-center py-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Show More">
                <i class="fas fa-chevron-down text-white"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<!-- prettier-ignore -->

<script>
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      const latitude = position.coords.latitude;
      const longitude = position.coords.longitude;
      console.log("Latitude: " + latitude + ", Longitude: " + longitude);
      fetch(`https://api.open-meteo.com/v1/forecast?latitude=${latitude}&longitude=${longitude}&current_weather=true&hourly=temperature_2m,relativehumidity_2m,windspeed_10m`)
      .then(response => response.json())
      .then(data => { 
          console.log(data);
          console.log(data.current_weather);
          document.getElementById("temp").innerHTML=data.current_weather.temperature+" "+data.hourly_units.temperature_2m;
            document.getElementById("windspd").innerHTML=data.current_weather.windspeed;
            document.getElementById("date").innerHTML=data.current_weather.time.slice(0,10);
    
      });
      fetch(`https://nominatim.openstreetmap.org/reverse?format=json&lat=${latitude}&lon=${longitude}`)
      .then(response => response.json())
      .then(data => { 
          console.log(data);
          console.log(data.current_weather);
          document.getElementById("city").innerHTML=data.address.city;
    
      });
    
    });
  } else {
    console.log("Geolocation is not supported by this browser.");
  }
  
 
</script>
<script >
 
  fetch(` {% url 'panel:notifications' %}`)
  .then(response => response.json())
  .then(data => {
    data.valeurs.forEach(datum => {
      not= `<div class="col">
        <div class="card move-on-hover overflow-hidden">
          <div class="card-body" >
            <div class="d-flex"       href="http://127.0.0.1:8000/sparcels/sparcel/${datum.onclick}"
            >
              <h6 class="mb-0 me-3">${datum.date.slice(15,20)}</h6>
              <h6 class="mb-0">${datum.contenu}
                
              </h6>
            </div>   
            <hr class="horizontal dark">
          </div>
          
        </div>
      </div>
      
     
      `;        
      const li = document.createElement("li");  
      const att = document.createAttribute("class");
      att.value = "mb-2";    
      li.setAttributeNode(att);
      li.innerHTML=not;
      parentElement=document.getElementById("bod");
      parentElement.insertBefore(li, parentElement.firstChild);
    }
    )
  })


</script> 
{% endblock %}



