{% extends 'panel/base.html' %}

{% block title %}Welcome | {% endblock %}
{% block activelnk2 %}active{% endblock activelnk2 %}
{% block paneltitle %}Parcels{% endblock paneltitle %}

{% block content %}


<div class="container-fluid py-4">
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">Les Capters</p>
                <h5 class="font-weight-bolder mb-0">
                  {{capters}}
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <i class="fas fa-temperature-low"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">Les sous-parcels</p>
                <h5 class="font-weight-bolder mb-0">
                  {{sparcels}}
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
               
                <i  class="fas fa-seedling" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">Les Parcels</p>
                <h5 class="font-weight-bolder mb-0">
                  {{parcels|length}}
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <i class="fas fa-tree"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">La Dernière parcel</p>
                <h5 class="font-weight-bolder mb-0">
                  {{first.name}}
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <i class="fas fa-tree"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row mt-4">
   

        <div class="col-md">     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />

            <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
            
            <div id="map"></div></div>
        <div class="col ">
            <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-header pb-0">
                      <div class="row">
                        <div class="col-lg-6 col-7">
                          <h6>Projects</h6>
                          <p class="text-sm mb-0">
                            <i class="fa fa-check text-info" aria-hidden="true"></i>
                            <span class="font-weight-bold ms-1">{{parcels|length }} parcels</span> click pour affiche en cart
                          </p>
                          <a href=" {% url 'panel:cree_parcel' %}"><span class="badge badge-sm bg-gradient-success">ajouter parcel</span></a>
                        </div>
                        
                      </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                      <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                          <thead>
                            <tr>
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nom</th>
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Details</th>
                              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                            </tr>
                          </thead>
                          <tbody>
                          
                            {%for parcel in parcels%}
                                
                            <tr>
                              <td>
                                <div class="d-flex px-2 py-1">
                                  <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm"  >{{parcel.name}}</h6>
                                  </div>
                                </div>
                              </td>
                              <td class="align-middle text-center text-sm">
                                <span class="text-xs font-weight-bold"> {{parcel.details}} </span>
                              </td>
                              <td class="align-middle text-center text-sm">
                                
                                <button type="button" class="btn btn-success" onclick="parcelposition({{parcel.location.1}})"><i class="fas fa-map-marker-alt"></i> <span class="ms-2"> position</span></button>
                              </td>
                              
                              <td class="align-middle text-center text-sm">
                                <a href="{% url 'sous_parcel:sparcels' parcel.id %}" class="btn btn-success"><span class="text-xs font-weight-bold"> afficher sous_parcels </span></a>
                              </td>
                            </tr>
                            {% endfor %}
                         </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

        </div>




     
        
    </div>
</div>
<!-- prettier-ignore -->

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
<script>
  // All the code for the leaflet map will come here
const map = L.map('map').setView([51.505, -0.09], 11);
const basemaps = {
    StreetView: L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',   {attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'}),
    Topography: L.tileLayer.wms('http://ows.mundialis.de/services/service?',   {layers: 'TOPO-WMS'}),
    Places: L.tileLayer.wms('http://ows.mundialis.de/services/service?', {layers: 'OSM-Overlay-WMS'})
  };
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors' }).addTo(map);
  const marker1 = L.marker([-37.699450, 176.279420]).bindPopup('Turquoise Bay Exmouth, Australia').addTo(map);

  L.control.layers(basemaps).addTo(map);
  basemaps.StreetView.addTo(map);
  var popup = L.popup();

function onMapClick(e) {
    popup
        .setLatLng(e.latlng)
        .setContent("You clicked the map at " + e.latlng.toString())
        .openOn(map);
}

map.on('click', onMapClick);

function parcelposition(loc){

  map.panTo(new L.LatLng(loc.lat, loc.long));
}

</script>
{%for parcel in parcels %}
    
<script>
  var loc = {{parcel.location|safe}};
  console.log(loc);

var locationArray = [];

for (let key in loc) {
  const lat = parseFloat(loc[key].lat);
  const long = parseFloat(loc[key].long);
  locationArray.push([lat, long]);
}
  var polygon = L.polygon([
    locationArray
   
]).addTo(map);

</script>
{% endfor %}

{% endblock %}